.navbar {
  box-sizing: border-box;
  padding: 5px;
  background-color: #fff;
}

.logo {
  height: 70px;
  width: 50px;
  object-fit: contain;
}

.navbarHeading {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  letter-spacing: 1px;
  font-size: 28px;
  font-weight: bolder;
  padding-left: 0.5rem;
  padding-top: 0.8rem;
}

ul {
  padding: 0;
  list-style: none !important;
  display: table;
  text-align: center;
}

.nav-item {
  display: table-cell;
  position: relative;
  padding: 15px 0;
  list-style: none !important;
}

a {
  color: black;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 21px;
  display: inline-block;
  position: relative;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  font-weight: none;
}

a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover:after {
  width: 100%;
  left: 0;
}

@media screen and (max-width: 600px) {
  .headingDiv {
    margin-left: -20px;
  }
  .navbarHeading {
    font-size: 22px;
    padding-left: 0;
  }
}

@media screen and (max-width: 320px) {
  .navbarHeading {
    font-size: 20px;
  }
}
