.navbar {
  box-sizing: border-box;
  padding: 5px;
  background-color: #fff;
}
.logo {
  height: 70px;
  width: 50px;
  object-fit: contain;
}

.navbarHeading {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  letter-spacing: 1px;
  font-size: 28px;
  font-weight: bolder;
  padding-left: 0.5rem;
}

.navbarHeading:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 10;
  content: "";
  display: block;
  height: 2px;
  left: 1%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.navbarHeading:hover:after {
  width: 23%;
  left: 80px;
}

ul {
  padding: 0;
  list-style: none;
  display: table;
  text-align: center;
}

li {
  display: table-cell;
  position: relative;
  padding: 15px 0;
}

a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;

  display: inline-block;
  position: relative;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover:after {
  width: 100%;
  left: 0;
}

@media screen and (max-width: 600px) {
  .headingDiv {
    margin-left: -20px;
  }
  .navbarHeading {
    font-size: 22px;
    padding-left: 0;
  }
}
